h1{
    text-transform: capitalize;
}

body{
    display: flex;
    margin: 3rem;
}

form{
    margin: 30px;
    color: white;
    width: 16rem;
    background-color: rgb(30, 30, 30, 0.95);
    padding: 5rem;
    border-radius: 25px;
}

input{
    width:100%;
    margin:.2rem 0 1rem 0;
    padding:1rem;
    border-radius: 5px;
    border: none;
}

.button{
    background-color: greenyellow;
    color: rgb(30, 30, 30);
    border: none;
    border-radius: 25px;
    width: 100%;
}

